@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: brown;
  text-align: center;
  margin-top: 100px;
  
}

#login-form-container{
  background-image: url("https://vecteezy.sa7eer.com/r/d/vecteezy?id1=similar-grid_paywall-test&id2=3211d916-0f04-47dd-9cbb-2e2ef6fd71f9&id3=07c0becc-ad66-4c67-895d-9c8f3f1e9865&u=https%3A%2F%2Fwww.vecteezy.com%2Fvector-art%2F11859222-love-pizza-cartoon");
}
